* {

    margin: 0;
    padding: 0;
    
  }
  
  @media (min-width: 768px) {
    body { text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
  
    }
  
  body {
    background-color: #1d07160c;
  }
  
  .logo {
  
    width: 150px;
    height: 150px;
  
   
  }

  .parallax {
    background-image: url("https://img.freepik.com/vecteurs-libre/vecteur-conception-cadre-malbouffe-vierge_53876-108748.jpg?size=626&ext=jpg&ga=GA1.2.535422432.1704270397&semt=ais");

    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover ; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-color: black;
    overflow: hidden;
    
  }

  #tip3-title { text-align: left; }

#tip3-title b { display: block; margin-right: 80px; }

#tip3-title span { float: right; }